# Python virtual environment
PY/venv/
PY/*.venv/

# Python cache files
PY/__pycache__/
*.pyc

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related (optional)
#.vscode/

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flask specific
*.sqlite3
*.db
*.db-journal
*.db-shm
*.db-wal

# Additional paths to ignore
wonroom/build/
wonroom/.dart_tool/
