# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related (optional)
#.vscode/



# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json



# Python virtual environment
venv/
*.venv/

# Flask specific
*.sqlite3
*.db
*.db-journal
*.db-shm
*.db-wal
