# Python virtual environment
py/venv/
py/*.venv/

# Python cache files
py/__pycache__/
*.pyc

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related (optional)
#.vscode/

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flask specific
*.sqlite3
*.db
*.db-journal
*.db-shm
*.db-wal

# Additional paths to ignore
wonroom/build/
wonroom/.dart_tool/

# Ignore Kotlin build cache files
wonroom/build/app/kotlin/compileDebugKotlin/cacheable/

# Ignore all .apk files
*.apk
wonroom/build/app/outputs/apk/debug/app-debug.apk
wonroom/build/app/intermediates/assets/debug/flutter_assets/kernel_blob.bin
wonroom/build/9b44b7a8a43d68cb22b678c9c2139da6.cache.dill.track.dill
wonroom/build/app/outputs/apk/debug/app-debug.apk
wonroom/build/app/intermediates/assets/debug/flutter_assets/kernel_blob.bin
wonroom/build/9b44b7a8a43d68cb22b678c9c2139da6.cache.dill.track.dill
